@import url('https://fonts.googleapis.com/css?family=Montserrat');

h1 {
  font-family: 'Montserrat', sans-serif;
}

.user-list {

}

.user-list__user {
  border: 2px solid cornflowerblue;
  border-radius: 3px;
}
