@import url('https://fonts.googleapis.com/css?family=Montserrat');

/* General Styles
==========================*/
h1 {
  font-family: 'Montserrat', sans-serif;
}

html {
  color: #494949;
}

/* @media (min-width: 576px) {
  html {
    font-size: 1.2rem;
  }
  h1 {

  }
}

@media (min-width: 768px) {
  html {
    font-size: 1.4rem;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 1.6rem;
  }
} */

.header {
  background: none;
  transition: background .3s;
  /* background: no-repeat center url("sky.png"); */
}

/* User Stub
==========================*/

.user-stub {
  padding-bottom: 30px;
}

.user-stub__wrapper {
  border: 2px solid cornflowerblue;
  border-radius: 5px;
  padding: 15px;
  cursor: pointer;

}

.user-stub__img {
  margin-top: -15px;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 15px;
  padding: 10px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  background-color: lightgrey;
  transition: background-color .3s;
}

.user-stub__username {
  transition: color .3s;
}

.user-stub__wrapper:hover .user-stub__img,
.user-stub.selected .user-stub__img {
  background-color: cornflowerblue;
}

.user-stub__wrapper:hover .user-stub__username,
.user-stub.selected .user-stub__img {
  color: white;
}

.user-stub__username,
.user-stub__email {
  word-break: break-word;
}

.user-stub__email {
  padding-left: 10px;
}

/* User Card
==========================*/

.user-card__name,
.user-card__email,
.user-card__address-street,
.user-card__address-suite,
.user-card__address-city,
.user-card__address-geo,
.user-card__phone,
.user-card__website,
.user-card__company-name,
.user-card__company-catch-phrase,
.user-card__company-bs {
  padding-left: 10px;
}

.user-card {
  border: 2px solid cornflowerblue;
  border-radius: 5px;
  /* font-size: .9em; */
}

.user-card__img {
  margin-right: -15px;
  margin-left: -15px;
  margin-bottom: 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding: 40px 15px;
  background-color: lightgrey;
}

.user-card__email {
  word-break: break-word;
}

.user-card__address-geo-label {
  font-weight: bold;
}

.user-card__address-geo {
  margin-bottom: 1rem;
}

.user-card__company-name,
.user-card__company-catch-phrase,
.user-card__company-bs {
  display: block;
}

.user-card__company-label {
  font-weight: bold;
}
